body {
  background-color: #13adab;
  font-family: "Titan One", cursive;
}

.card {
  background-color: #526166;
}
.mini {
  text-align: center;
  margin: 13px;
}

h3 {
  padding-top: 8px;
}

h1,
form {
  padding-left: 30px;
}
div .card .mini {
  background-color: #ffd604;
}

.units {
  position: relative;
  top: -42px;
}

.picture {
  padding-bottom: 40px;
}

small:first-letter {
  text-transform: capitalize;
}

.weather-forecast-temperatur-min {
  color: rgb(43, 43, 50);
}

.weather-forecast-temperatur-min,
.weather-forecast-temperatur-max,
.weather-forecast-temperature-day {
  font-size: 27.3px;
}

.windSpeed {
  font-size: 35px;
}

.smallPicture {
  width: 45px;
  height: auto;
}
